.stm-plugin-admin-notice {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 15px 30px 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  align-items: start;
  position: relative;

  &-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;
  }

  &-logo img {
    width: 40px;
  }

  &__content {
    padding-left: 10px;

    h3 {
      padding: 0;
      margin: 0;
      color: rgba(#000000, 0.7);
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.36px;
      line-height: 18px;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.28px;
      line-height: 18px;
    }

    ul {
      margin: 9px 0 0;
      user-select: none;
      list-style: none none;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0;

        i {
          display: block;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          color: #d6981b;
          background: url("../img/star-notice.svg") no-repeat;
        }
      }
    }

    .plugin-notice {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      button, a {
        margin-right: 10px;
        padding: 10px 28px 9px;
        color: #666666;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.28px;
        line-height: 20px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        cursor: pointer;
        transition: ease-in 0.1s;
        text-decoration: none;

        &:hover {
          background-color: rgba(#ddd, 0.5);
        }

        &.active {
          border: none;
          color: #fff;
          background-color: #0b6666;

          &:hover {
            background-color: #377e7e;
          }
        }
        .masterstudy-lms-learning-management-system &.active {
          background-color: #195ec8;
          &:hover {
            background-color: #3170cb;
          }
        }
        .eroom-zoom-meetings-webinar &.active {
          background-color: #157ffc;
          &:hover {
            background-color: #3690f6;
          }
        }
        .ulisting &.active {
          background-color: #17d292;
          &:hover {
            background-color: #5cf1b7;
          }
        }
        .motors-vin-decoder &.active {
          background-color: #000;
          &:hover {
            background-color: #222;
          }
        }
        .cost-calculator-builder &.active {
          background-color: #1ab163;
          &:hover {
            background-color: #34f696;
          }
        }
        .aibuddy-openai-chatgpt &.active {
          background-color: #2985F7;
          &:hover {
            background-color: #1c56bc;
          }
        }
      }
    }
  }
}
